@import '../../styles/mixins/helpers.scss';

.menu {
    margin-top: 2.5rem; 

    .active {
        position: relative;

        .icon {
            display: flex;
            &:after{
                content: '\2022'; 
                font-size: 1.5rem;
                position: absolute;
                top: -5px;
                right: 5px;

                @media (max-width: 1189px) { 
                    right: -5px;
                }
                @media (max-width: 568px) { 
                    right: -12px;
                }
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 2rem 0;
                text-decoration: none;
                color: white;
                transition: all .25s;

                &:hover {
                    background-color: $color-orange-hover;
                    color: $color-white-hover;
                }
            }

            span {
                margin: 0.5rem 0;
                font-size: 1.2rem;
            }

            .icon {
                font-size: 3rem;
                color: $color-grey;

                @media (max-width:767px) { 
                    font-size: 2rem;
                }
            }
        }
    }
}

.timezone {
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    margin-top: 2rem;
    text-align: center;
    height: 28px;
    white-space: nowrap;

    time {
        -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
        -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
        -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;

        @media (max-width:767px) { 
            font-size: 0.6rem;
        }

        @media (max-width:468px) { 
            font-size: 0.4rem;
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

