.column {
    width: 100%;
    max-width: 1420px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    .half {
        width: 50%;
        padding: 0 1rem;

        @media (max-width:767px) { 
            width: 100%;
        }
    }

    @media (max-width:767px) { 
        flex-direction: column;
    }
}