@import 'mixins/helpers.scss';
@import 'base/normalize.scss';

html {
  width: auto !important;
  overflow-x: hidden !important;
}

.body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: $text-color;
  margin: 0;
}
