@import 'mixins/helpers.scss';
@import 'base/normalize.scss';

html {
  width: auto !important;
  overflow-x: hidden !important;
}

.body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: $text-color;
  margin: 0;
}

.css-2b097c-container {
  border-radius: 5px;
  border-color: $color-grey;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(14,30,37,.16);
  outline: none;
}

.blue {
  background-color: $calendar-blue;
  color: $color-white;
  cursor: pointer;

  &:hover {
    background-color: $calendar-blue !important;
  }
}

.yellow {
  background-color: $calendar-yellow;
  color: $color-white;
  cursor: pointer;

  &:hover {
    background-color: $calendar-yellow !important;
  }
}

.green {
  background-color: $calendar-green;
  color: $color-white;
  cursor: pointer;

  &:hover {
    background-color: $calendar-green !important;
  }
}

.orange {
  background-color: $calendar-orange;
  color: $color-white;
  cursor: pointer;

  &:hover {
    background-color: $calendar-orange !important;
  }
}

.purple {
  background-color: $calendar-purple;
  color: $color-white;
  cursor: pointer;

  &:hover {
    background-color: $calendar-purple !important;
  }
}

.fc .fc-daygrid-day.fc-day-today {
  background-color: rgba(248, 248, 248, 0.8) !important;
}