p,
ul {
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0; }

button {
  outline: none;
  outline-color: white;
  outline-style: none; }

hr {
  height: 1px !important;
  margin-top: 15px;
  margin-bottom: 15px; }

select {
  border: none; }

input {
  outline: none; }

html {
  width: auto !important;
  overflow-x: hidden !important; }

.body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #171819;
  margin: 0; }

.css-2b097c-container {
  border-radius: 5px;
  border-color: #efeff1;
  cursor: pointer;
  box-shadow: 0 2px 10px rgba(14, 30, 37, 0.16);
  outline: none; }
