@import '../../../styles/mixins/helpers.scss';

.storeContainer{
    display: flex;
    flex-direction: column;
    @media (max-width: 991px) {  
        padding: 15px;
    }

    .storeHeader {
        h2 {
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: $color-dark-grey;
            margin-top: 0;
        }
    }
    .storeName {
        white-space: none;

        .inline {
            display: flex;
            flex-direction: row;
            position: relative;
            max-width: 300px !important;
        }
        
        .storeNumber {
            font-size: 0.8rem;
            padding: 2px 2px;
            border-radius: 5px;
            border: none;
            font-weight: bold;
            width: 3rem;
            max-width: 30px;
            max-height: 16px;
            text-align: center;
            margin-left: 8px;
            background: rgb(235, 235, 228);
            cursor: pointer;
            height: 16px;
        }
    }
    .iconContainer{
        display: flex;
        flex-direction: row;
        margin: 0.3rem 0;

        .icon {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            width: 13%;
            font-size: 1rem;
            color: $color-orange;
            align-self: flex-start;

            @media (max-width: 991px) {  
                width: 9%;
                margin-left: 10px;
                justify-content: flex-start;
            }
        }
        span {
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 20px;
        }
        > div {
            width: 80%;
        }
    }
    .storeHours {
        white-space: nowrap;
        
        .hourDay{
            display: flex;
            flex-direction: row;
            line-height: 20px;
            .day {
                margin-right: 1rem;
                width: 35px;
            }
            .timezone {
                margin-left: 5px;
            }
        }
        .bold {
            span {
                font-weight: bold;
            }
        }
    }
    .odContainer {
        .title {
            margin-bottom: 4px;
            font-size: 0.9rem;
        }
    }
    .storeAddress,
    .storeAddressInfo {
        span {
            display: block;
        }
    }
    .phoneNumbers {
        .phone {
            margin-bottom: 2px;
            font-size: 0.9rem;
        }
    }
}

