$text-color: #171819;
$color-white: #ffffff;
$color-white-hover: rgba(255, 255, 255, 0.9);
$color-orange: #ee8020;
$color-orange-hover: rgba(238, 128, 32, 0.5);
//$color-grey: #e8e4e4;
$color-grey: #efeff1;
$color-dark-grey: #2E3C42;
$background-color: #f1efef;
$background-grey-light: #efeff180;
$color-warning: #a14040;
$color-red: #ff0606;