$text-color: #171819;
$color-white: #ffffff;
$color-white-hover: rgba(255, 255, 255, 0.9);
$color-orange: #ee8020;
$color-orange-hover: rgba(238, 128, 32, 0.5);
//$color-grey: #e8e4e4;
$color-grey: #efeff1;
$color-dark-grey: #2E3C42;
$background-color: #f1efef;
$background-grey-light: #efeff180;
$color-warning: #a14040;
$color-red: #ff0606;
$color-dark-button: #ccc8c8;// #656565;
$color-dark-button-transp: #656565de;

$calendar-blue: #039BE5;
$calendar-yellow: #F6BF26;
$calendar-green: #33b679;
$calendar-orange:  #F4511E;

.bubble {
    position: absolute;
    top: 42px;
    right: -18px;
    background: $color-dark-button-transp;
    padding: 10px;
    color: $color-white;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(14, 30, 37, 0.16);
    width: 52px;

    @media (max-width: 991px) {  
        top: 35px;
        left: 112px;
    }

    &::after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        bottom: 100%;
        left: 1.5em; // offset should move with padding of parent
        border: .75rem solid transparent;
        border-top: none;
        border-bottom-color: $color-dark-button-transp;
        filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
    }
}